*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  display: inline-block;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin: 50px;
  padding: 50px;
  border: solid 2px black;
  align-items: center;
}

.info_block {
  width: 75%;
  height: 150px;
  padding: 75px 25px 0px;
  display: inline-block;
  background-color: black;
  color: green;
  justify-content: center;
}
